@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.header_wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px 100px;
}

.nav_list {
    display: flex;
    list-style: none;
}

.nav_list > li {
    margin-right: 28px;
    cursor: pointer;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 100px;
    cursor: pointer;
    margin-left: 20%;
}

.links {
    margin-left: auto;
}

.links img {
    margin-right: 30px;
    cursor: pointer;
}

.main-page {
    height: calc(100vh - 58px);
    background-color: #F0EFEB;
    display: flex;
    padding-left: 190px;
}

.image-wrapper {
    display: flex;
}

.main_image {
    align-self: center;
    width: 599px;
    height: 521px;
}

.guides {
    height: 100vh;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 40px;
    width: 180%;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
    width: 160%;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    background-color: black;
    height: 36px;
    width: 130px;
    border-radius: 100px;
    color: #FFFFFF;
    border: none;
    margin-top: 26px;
    cursor: pointer;
    
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30%;
}